.chat {
    background: red;
    width: 100vw;
    height: 300px;
    overflow: scroll;
    margin-top: 1000px;
}

.chat2 {
   
    width: 100vw;
    height: 500px;
    overflow: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    justify-content: center;
    display: flex;
}

.hijoChat {
border: 10px solid rgb(173, 171, 171,.2);
border-radius: 10px;
    height: 500px;
    display: flex;
    flex-wrap: wrap;
    scroll-behavior: smooth;
    overflow-x: hidden;
    overflow-y: hidden;
}

.parteMensajes{
scroll-behavior: smooth;
overflow-x: hidden;
overflow-y: hidden;
height: 70%;
overflow: auto;

}
.parteInputs{
    height: 30%;
background: orange;
}