.contenedorMensajeInidividual {
    display: flex;
    overflow-y: hidden;
    overflow-x: hidden;
    justify-content: flex-start;
    flex-direction: row;
    padding-left: 10px;
    padding-top: 8px;
    padding-bottom: 2px;
    margin: 10px;
}

.mensaje {
    overflow-x: hidden;
    text-align: center;
    padding: 20px;
    border-bottom-right-radius: 100px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 50px;
    align-self: flex-end;
    align-items: flex-end;
 

}
.contenedorMensajitos{
    word-wrap: break-word;
}
@media(max-width:650px){
    .mensaje{
        text-align: center;
        border-bottom-right-radius: 1px;
        background: green;
        padding: 10px;
    }
    
}